body {
    font-family: Arial, sans-serif;
    background-color: rgb(250, 168, 215);
    justify-content: center;
    text-align: center;
    text-shadow: 2px;
}
h2{
    text-indent: 5%;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

#result {
    margin-top: 20px;
}

form div{
    margin-bottom:10px ;

}
